<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Network" value="TestNET" />
    <add key="OrderType" value="Limit Post Only" />
    <add key="Strategy" value="Strat1" />
    <add key="APIKey" value="" />
    <add key="APISecret" value="" />
    <add key="PercentageToTrade" value="2" />
    <add key="QtyForAutoTrade" value="10" />
    <add key="Debug" value="True" />
    <?Strat1 ?>
    <add key="PercentageToEarn" value="0,20" />
    <add key="RSIDiffTo50" value="-7" />
    <?strat2 ?>
    <add key="PercentageToStartTrailingProfit" value="1,5" />
    <add key="PercentageToExecuteTP" value="0,75" />
    <?strat3 ?>
    <add key="PriceChange" value="45" />
    <add key="ShortLimit" value="6500" />
    <add key="LongLimit" value="7400" />
    <?StopLoss ?>
    <add key="UseStopLoss" value="True" />
    <add key="PercentageToStartSL" value="7,5" />
    <add key="PercentageToExecuteSL" value="15,0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>